.h1{
    font-size: 50px;
    text-align: center;
    color: aqua;
}

.h1D{
    font-size: 35px;
    text-align: center;
    color: aqua;
}

.contP{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    height: 310px;
    width: 700px;
    background-color: rgba(214, 214, 214, 0.644);
    margin-left: 50px;
    border-radius: 10px;
}

.cont img{
    height: 100%;
    width: 400px;
    margin-right: 50px;
    border-radius: 10px;
}

.text{
    border: 1px solid white;
    background-color: rgba(214, 214, 214, 0.644);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.cont2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnHome {
    cursor: pointer;
    /* margin-left: 100px;
    margin-top: 100px; */
    display: flex;
    padding: 5px 30px;
    margin-bottom: 10px;
    /* text-decoration: none; */
    font-family: 'Courier New', Courier, monospace;


    /* font-family: 'Poppins', sans-serif; */
    font-size: 30px;
    font-weight: 900;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(7, 0, 0);


    color: #9c0202;
    background: #013b17;
    transition: 1s;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.829);
    transform: skewX(-8deg);
    /* border:none; */
    border: solid rgb(7, 7, 0) 2px;
    border-radius: 2px;
  }
  
  .btnHome:focus {
    outline: none;
  }
  
  .btnHome:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #680202d7;
  }