.cards {
    width: 89vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.paginado {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cont {
    display: flex;
    align-items: center;
}