.card {
    width: 800px;
    height: auto;
    /* padding: 15px; */
    padding-top: -150em;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-left: 250px;
    margin-top: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-image: url('../../asets/fast-food-set-icons-fastfood-background-doodle-fast-food-icons-seamless-pattern-with-food-icons-food-icons-on-white-background-hand-drown-pattern-with-fast-food-icons-free-vector.jpg'); */
    background: #01471600;
    border-radius: 15px;
    /* border: 0; */
    /* border: solid rgb(7, 7, 0) 2px; */
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.349);
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
        rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
        rgba(0, 0, 0, 0.07) 0px 16px 16px; */
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
    justify-content: center;
    /* margin-left: 50px; */
    border: solid #5f5f5fc2 1px;
    padding: 25px;
    border-radius: 5px;
    background: #b9b8b8c2;
    box-shadow: 5px 5px 50px black;
}

.uploadedImage {
    width: 250px;
    height: 280px;
    margin-top: 5px;
    border-radius: 3px;
}

.errors {
    color: rgb(82, 3, 3);

    /* font-weight: 400; */
    /* font-size: 15px; */
    /* margin-left: 30px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: aqua; */
}

.label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 800;
    /* -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(119, 1, 1); */
}

.input {
    width: 300px;
    height: 27px;
    /* margin-top: 12px; */
    padding-left: 10px;
    padding-bottom: 2px;
    outline: 0;
    background: rgba(253, 253, 253, 0.466);
    box-shadow: transparent 0px 0px 0px 1px inset;
    border-radius: 12px;
    border: 1px solid #252525;
    color: black;
}

.inputLong {
    width:  300px;
    height: 100px;
    padding: 10px;
    border: 1px solid #252525;
    background: rgba(253, 253, 253, 0.466);
    border-radius: 5px;
    resize: vertical;
}

.indiv {
    /* margin-bottom: 25px; */
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.btn2 {
    display: flex;
    flex-direction: row;
}

.btnSubmit {
    cursor: pointer;
    /* margin-left: 100px;
    margin-top: 100px; */
    height: 35px;
    display: flex;
    padding: 1px 15px;
    margin-bottom: 2px;
    margin-top: 40px;
    /* text-decoration: none; */
    font-family: 'Courier New', Courier, monospace;


    /* font-family: 'Poppins', sans-serif; */
    font-size: 25px;
    font-weight: 900;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(7, 0, 0);


    color: #9c0202;
    background: #013b17;
    transition: 1s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.829);
    transform: skewX(-8deg);
    /* border:none; */
    border: solid rgb(7, 7, 0) 1px;
    border-radius: 5px;
}

.btnSubmit:focus {
    outline: none;
}

.btnSubmit:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 10px black;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    margin-top: 10px;
    font-weight: 1000;
    /* color: #3FFF00; */
    color: #9c0202;
    /* text-shadow: 5px 5px 10px #FFFF00; */
    text-shadow: 5px 5px 10px black;
    /* text-decoration: solid rgb(252, 247, 247) 200px; */
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: rgb(7, 0, 0);
}

.pSelectCont {
    /* margin-bottom: 25px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.allSelectCont {
    display: flex;
    flex-direction: row;
    margin-left: 3px;
}

.selectIndv {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.select {
    width: 90px;
    border-radius: 5px;
    border: solid rgb(7, 7, 0) 1px;
}